body {
    font-family: 'Arial', sans-serif;
    background-color: #050101;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: #c0a5ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    color: #777;
    font-size: 16px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.prediction {
    color: #4caf50;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}
.alien-headlines {
    color: #ffcc00;
    font-size: 18px;
    overflow: hidden;
    white-space: nowrap;
}

.alien-headlines p {
    display: inline-block;
    margin: 0;
    padding-right: 30px;
    animation: scroll 15s linear infinite;
   
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.text{
    text-emphasis-color: white;
}
